* {
	box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
aside {
    padding:0;
    margin:0;
}
#bio {
    background: rgb(242, 105, 100);
    display: inline-block;
    float:left;
    width: 100%;
    height: 500px;
    color: white;
    padding: 30px;
}
body {
    margin: 0;
    padding: 0;
    background: rgb(255, 212, 100);    
}
#cards {
    display:block;
    width: 100%;
    padding:30px;
    padding-bottom: 0;
    margin:0;
    border:0;
}
#darkBar {
    width: 100%;
    background: black;
    margin-left: 0;
    height: 0px;
}
.main .container {
    padding-left: 10px;
    padding-right: 460px;
    overflow: hidden;
}
.content {
    float: left;
    width: 100%;
    background: rgb(242, 105, 100);
    color: white;
    font-size: 1.2em;
    padding: 25px 146px;
    font-family: 'Crimson Text', Serif;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 2px 2px 2px gray;
}
.fa {
    padding: 0px 7px;
    color: rgba(255, 212, 100, 1);
    transition: color .25s ease-in-out;
   -moz-transition: color .25s ease-in-out;
   -webkit-transition: color .25s ease-in-out;
}
.fa:hover {
    color: white;
}
footer {
    padding: 0px;
    color: rgb(40,40,40);
    font-size: 16px;
    font-family: 'Crimson Text', sans-serif;
    text-align: center;
}
header {
    padding: 0px;
    margin: 0px
    border: 0px;
}
h1 {
	  display: inline;
    margin: 0px
    border: 0px;
    padding: 0px;
	  font-size: 55px;
    line-height: 70px;
    z-index: 10;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    font-family: 'Suez One', cursive;
    font-weight: normal;
    text-shadow: 0px 0px 20px rgba(255,255,255, 1);
}
h1:hover {
    opacity: 0.6;
}
h2 {
    font-size: 45px;
    color: white;
    text-align: center;
}
h2 a {
    color: white;  
}
h3 {
    font-size: 24px;
    line-height: 40px;
}
h4 {
    display: inline-block;
    margin: 0px
    border: 0px;
    padding-left: 30px;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
}
h5 {
    font-size: 14px;
    line-height: 20px;
}

h6 {
    font-size: 12px;
    line-height: 20px;
}

html {
    margin: 0;
    padding: 0;
}

.iconContainer {
  display: inline-block;
  vertical-align:middle;

  border-radius: 50%;
  width:75px;
  height:75px;
  overflow:hidden;
  margin:37.5px;
  
  -webkit-animation: spin 3s linear 0s infinite reverse;
  -moz-animation: spin 3s linear 0s infinite reverse;  
  -ms-animation: spin 3s linear 0s infinite reverse;
  -o-animation: spin 3s linear 0s infinite reverse;
  animation: spin 3s linear 0s infinite reverse;
  
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;  
  animation-play-state: paused;

    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.icon {
  width:75px;
  height:75px;
  border-radius: 50%;
  background-image: url(thumbprint-dot-trans-75px.png);
  background-repeat:no-repeat;
  background-position:50% 50%;
  opacity: .65;
  
  -webkit-animation: spin 20s linear 0s infinite normal;
  -moz-animation: spin 20s linear 0s infinite normal;
  -ms-animation: spin 12s linear 0s infinite normal;
  -o-animation: spin 12s linear 0s infinite normal;
  animation: spin 20s linear 0s infinite normal;
}
.iconContainer:hover {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
  opacity: 0;
}
@keyframes spin {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}
@-webkit-keyframes spin {
  0% {-webkit-transform: rotate(360deg); }
  100% { -webkit-transform: rotate(0deg); }
}
@-ms-keyframes spin {
  0% {-ms-transform: rotate(360deg); }
  100% { -ms-transform: rotate(0deg); }
}
@-moz-keyframes spin {
  0% { -moz-transform: rotate(360deg); }
  100% { -moz-transform: rotate(0deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(360deg); }
  100% { -o-transform: rotate(0deg); }
}

#icon-inverted {
    position: absolute;
    display:inline-block;
    vertical-align:middle;
    width: 75px;
    height: 75px;
    margin: 37.5px;
    opacity: 0.25;
}

#icon-inverted:hover {
    opacity:0.1;
}

#name_and_nav {
    display: inline-block;
    vertical-align:middle;
}

nav {
    padding: 0px;
    margin: 0px
    border: 0px;
    background: rgb(255, 212, 100);    
    vertical-align:middle;
    display: inline;
}

.nav_decorations {
    color: rgba(18, 63, 164, 0.5);
    color: rgb(240,240,230);
}
.sidebar {
    float: right;
    margin-right: -450px;
    width: 440px;
    background: rgb(130, 147, 179);
    border-radius: 20px;
    box-shadow: 2px 2px 2px gray;

}
.content,
.sidebar {
    padding-bottom: 99999px;
    margin-bottom: -99999px;
}
ul {
    display: inline;
    list-style-type: none;
    padding-left:0;
    font-size: 1.1em;      
}
ul > li {
    display: inline-block;
    padding-right:13px;
    padding-top:5px;
    font-family: 'Suez One', sans-serif;

}
ul > li > a {
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
ul > li > a:hover {
    opacity: 0.35;
}
